<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_text"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_text_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FastCampus"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ch14_chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ch13_news.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ch13_news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".ch12_github_repository.RepoActivity"
            android:exported="false" />
        <activity
            android:name=".ch12_github_repository.GithubRepositoryActivity"
            android:exported="false" />
        <activity
            android:name=".ch11_today_notice.TodayNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".ch10_recorder.RecorderActivity"
            android:exported="false" />
        <activity
            android:name=".ch09_web_toon.WebToonActivity"
            android:exported="false" />

        <receiver
            android:name=".ch08_music_player.LowBatteryReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".ch08_music_player.MediaPlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ch08_music_player.MusicPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ch07_my_gallery.FrameActivity"
            android:exported="false" />
        <activity
            android:name=".ch07_my_gallery.MyGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".ch06_word_book.AddActivity"
            android:exported="false" />
        <activity
            android:name=".ch06_word_book.WordBookActivity"
            android:exported="false" />
        <activity
            android:name=".ch05_stop_watch.StopWatchActivity"
            android:exported="false" />
        <activity
            android:name=".ch04_calculator.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ch03_emergency_medical.InputActivity"
            android:exported="false" />
        <activity
            android:name=".ch03_emergency_medical.EmergencyMedicalCareActivity"
            android:exported="false" />
        <activity
            android:name=".ch02_unit_conversion.UnitConversionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ch01_count_number.CountNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ch0_main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>